*{
    margin: 0;
    padding: 0;
    
}

div{
    background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
    

}

main{
    background-color: bisque;
   
    display: flex;
    flex-direction: row;
   
  
    align-items: stretch;
    

}



#div2{
   
    flex-shrink: 3;
}




