*{
    border: 0;
    margin: 0;
    padding: 0;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
    color: beige;
}

.logo{
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: none;
    display: flex;
}

ul >li{
    list-style: none;
    display: flex;
    padding: 20px;
}

ul >li:hover{
    list-style: none;
    display: flex;
    padding: 20px;
    background-color: #d67c7c
}

.hero{
    width: 100vw;
    height: 400px;
    background-image: url(pizza.jpeg);
    display: flex;
    align-items: center;
    justify-content: center;

}

.textodes{
    font-size: 60px;
    color: orangered;
    font-weight: 600;
    text-shadow: 2px 2px black;
}

main{ 
    width: 100vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha{
    width: 80vw;
    height: 3px;
    background-color: blueviolet;
}

